
<div ng-if="!dashboardCtrl.userCards">nothing here</div>

<div ng-if="dashboardCtrl.userCards.length >0">

  <md-content layout="row" layout-sm="column">
  <md-list-item flex ng-repeat="card in dashboardCtrl.userCards">
    <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
    <div class="card" flex layout-padding="">
      <h3>{{card.Issuer}}</h3>
      <h4>{{card.Type}}</h4>
      <p>{{card.CardLimit}}</p>
      <progress class="progress progress-success" value="25" max="100">25%</progress>
      <div class="pull-right">Remove</div>
    </div>
  </md-list-item>
  </md-content>

</div>


<md-button class="md-primary md-raised" ng-click="dashboardCtrl.showAlert($event)" flex flex-md="100">
  Alert Dialog
</md-button>

<md-button class="md-primary" ng-click="dashboardCtrl.creditcardContainer = true">Add card </md-button>
