<md-toolbar class="md-primary">
  <div class="md-toolbar-tools container">
    <md-button class="md-fab md-mini md-primary"
               aria-label="Dashboard"
               ui-sref="dashboard">
      <i class="ion-ios-arrow-back"></i>
    </md-button>

    <h2 class="text-muted white-font">
      <span>Trends</span>
    </h2>

  </div>
</md-toolbar>


<section class="container animated slideInRight" style="position: relative;height: 100%;">
  <md-content flex layout-padding layout="row">
    <div layout="column" flex="70">
      <div flex>
        <h3 class="md-title">Transaction</h3>
        <br>
        Daily Avg: 200, Nov 6- Dec 7
      </div>
      <transaction-trend></transaction-trend>
    </div>

    <div flex>
      <md-button ng-click="dashboardCtrl.toggleRight()"
                 class="md-primary md-fab">
        <i class="ion-plus-round">Add</i>
      </md-button>
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">This week</h1>
      </md-toolbar>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Transction</h1>
      </md-toolbar>
      <md-content layout-padding>
        <transaction-add></transaction-add>
        <md-button ng-click="dashboardCtrl.rightNavclose()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </md-content>

</section>
