<div class="col-xs-12 col-sm-8">
  <canvas id="doughnut"
          ng-init="doughValue()"
          class="chart chart-doughnut"
          chart-data="doughData"
          chart-labels="doughLabels">
  </canvas>
  You can spend
  {{ profileCtrl.spendable()/30 | currency: '' }}
</div>

<md-select ng-model="profileCtrl.currencySelected">
  <md-option value="">---Please select---</md-option> <!-- not selected / blank option -->
  <md-option ng-repeat="list in profileCtrl.currency ">{{ list.$id}}</md-option>
</md-select>

<div class="col-xs-12 col-sm-4">

  <form ng-submit="profileCtrl.createUserplan()">

    <md-input-container class="flex">
      <label for="income">Income</label>
      <input ng-model="profileCtrl.income"
             class="ng-pristine ng-valid md-input ng-touched form-control"
             id="income"
             aria-invalid="false"
             style="">
    </md-input-container>

    <md-input-container class="flex">
      <label for="saving">Saving</label>
      <input ng-model="profileCtrl.saving"
             class="ng-pristine ng-valid md-input ng-touched form-control"
             ng-keyup="profileCtrl.doughValue()"
             id="saving"
             aria-invalid="false"
             style="">
    </md-input-container>

    <md-input-container class="flex">
      <label for="bill">Bill</label>
      <input ng-model="profileCtrl.bill"
             class="ng-pristine ng-valid md-input ng-touched form-control"
             ng-keyup="profileCtrl.doughValue()"
             id="bill"
             aria-invalid="false"
             style="">
    </md-input-container>

    <md-button class="md-raised md-primary">Save</md-button>

  </form>
</div>
