<section layout="row" layout-sm="column">
  <div flex="70" flex-sm="100">
    <user-plan-spendable></user-plan-spendable>
    You can spend
    {{ profileCtrl.spendable()/30 | currency: '' }}
  </div>

  <div flex>
    <md-select ng-model="profileCtrl.currencySelected">
      <md-option value="">---Please select---</md-option> <!-- not selected / blank option -->
      <md-option ng-repeat="list in profileCtrl.currency ">{{ list.$id}}</md-option>
    </md-select>

    <form ng-submit="profileCtrl.createUserplan()">

      <md-input-container class="flex">
        <label for="income">Income</label>
        <input ng-model="profileCtrl.income"
               class="ng-pristine ng-valid md-input ng-touched form-control"
               id="income"
               aria-invalid="false"
               style="">
      </md-input-container>

      <md-input-container class="flex">
        <label for="saving">Saving</label>
        <input ng-model="profileCtrl.saving"
               class="ng-pristine ng-valid md-input ng-touched form-control"
               ng-keyup="profileCtrl.doughValue()"
               id="saving"
               aria-invalid="false"
               style="">
      </md-input-container>

      <md-input-container class="flex">
        <label for="bill">Bill</label>
        <md-button ng-click="dashboardCtrl.toggleRight()"
                   class="md-primary">
          <i class="ion-plus-round">Add Bill</i>
        </md-button>
        <input ng-model="profileCtrl.bill"
               class="ng-pristine ng-valid md-input ng-touched form-control"
               ng-keyup="profileCtrl.doughValue()"
               id="bill"
               aria-invalid="false"
               style="">
      </md-input-container>

      <md-button class="md-raised md-primary">Save</md-button>

    </form>

  </div>

</section>
