<md-toolbar class="md-primary">
  <div class="md-toolbar-tools container">
    <md-button class="md-fab md-mini md-primary"
               aria-label="Dashboard"
               ui-sref="dashboard">
      <i class="ion-ios-arrow-back"></i>
    </md-button>

    <h2 class="text-muted white-font">
      <span>Goal</span>
    </h2>
    <md-button ng-click="dashboardCtrl.toggleRight()"
               class="md-primary md-fab md-mini">
      <i class="ion-plus-round"></i>
    </md-button>
  </div>
</md-toolbar>

<div class="container md-padding animated slideInRight">


  <br>

  <md-grid-list
    md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px">

    <md-grid-tile class="white-bg"
                  md-rowspan="2"
                  md-colspan="2"
                  md-colspan-sm="1"
                  ng-repeat="goal in dashboardCtrl.userGoals">
      <md-grid-tile-header>
        <h3>{{ goal.type }}</h3>
      </md-grid-tile-header>

      <md-content ng-init="preview_goal.$id=true" ng-click="preview_goal.$id=false;option_goal.$id=true" ng-show="preview_goal.$id">
        <p class="md-headline">{{ goal.destination }}</p>
        <p class="md-title">0 of {{dashboardCtrl.user.currency.currency}} {{ goal.budget}}</p>
      </md-content>
      <br>

      <!--<md-button  class="md-primary"
                  ng-click="goal.$id=true">More</md-button>-->

      <div ng-init="option_goal.$id=false" ng-show="option_goal.$id" ng-model="goal.$id">
        {{ goal.budget}}
        <br>
        {{ goal.dailySaving | currency:'' }}
        <br>
        {{ goal.targetDate }}
        <md-button  class="md-primary btn-sm"
                    ng-click="preview_goal.$id=true;option_goal.$id=false">Hide</md-button>

      </div>


      <md-grid-tile-footer></md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>


</div>


<!-- Side Nav Add bill -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-content layout-padding>
    <goal-add></goal-add>
  </md-content>
</md-sidenav>
<!--</md-content>-->
