<md-toolbar class="md-primary">
  <div class="md-toolbar-tools container">
    <md-button class="md-fab md-mini md-primary"
               aria-label="Dashboard"
               ui-sref="dashboard">
      <i class="ion-ios-arrow-back"></i>
    </md-button>
    <h2 class="text-muted white-font">
      <span>{{ 'KEY_BILL' | translate }}</span>
    </h2>
    <md-button ng-click="dashboardCtrl.toggleRight()"
               class="md-primary md-fab md-mini">
      <i class="ion-plus-round"></i>
    </md-button>
  </div>
</md-toolbar>


<section class="animated slideInRight container md-padding" layout="row" layout-sm="column">
  <div flex="70">
    <h2>You have {{billCtrl.bills.length}} bills
    <md-button ng-click="dashboardCtrl.toggleRight()"
               class="md-primary">
      <i class="ion-plus-round">{{ 'KEY_ADDBILL' | translate }}</i>
    </md-button>
    </h2>
      <bill-card></bill-card>
    </div>
    <div flex="">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools white-font">Bill History</h1>
      </md-toolbar>
      <section>
        {{dashboardCtrl.billTracker}}
        --------------------------
        <div ng-repeat="history in dashboardCtrl.billTracker">
          {{history.$id}}
          <div ng-repeat="h in history.$id">
            {{h}}
          </div>
        </div>

      </section>
    </div>
</section>

<!-- Side Nav Add bill -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-content layout-padding>
    <bill-add></bill-add>
  </md-content>
</md-sidenav>
<!--</md-content>-->

