<!--

lineChartTranction.template.html

-->

<!--<div align="center" style="margin: 10px 0 10px 0;">
  <div class="btn-group row" data-toggle="buttons">
    <label  class="btn btn-sm btn-primary-outline active"
            ng-click="overAllShow=true;
                              extraSavingShow=false;
                              transactionShow=false;">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Week
    </label>
    <label  class="btn btn-sm btn-primary-outline"
            ng-click="overAllShow=false;
                              extraSavingShow=false ;
                              transactionShow=true;">
      <input type="radio" name="options" id="option2" autocomplete="off"> Month
    </label>
  </div>
</div>-->
<!--chart-legend  = "dashboardCtrl.true"-->
<!--chart-series  = "dashboardCtrl.line_dailySeries"-->

